<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli|Saira+Stencil+One&display=swap" rel="stylesheet">
        <title>Danny Phantom Fanpage!</title>
    </head>
            <body>
                <div class = "image"> 
                </div>
                <main>
                <embed src="/static/Danny Phantom Theme Song (HQ) Episode Opening Credits Nick Animation.mp3" autostart="true"
width="2" height="0"></embed>

                <h1><center>Danny Phantom</center></h1>
                
                    <h2>Danny Fenton Bio</h2>
                    
                    <p>Daniel "Danny" Fenton, also known by his alias Danny Phantom, is the titular protagonist of the television series. Danny Phantom. Becoming a half-human/half-ghost during a lab accident, Danny has taken on the role of a ghostly superhero to protect Amity Park and the world from the dangerous ghosts of the Ghost Zone.</p>
                    
                <h3> Danny Phantom Trivia!</h3>
                
                <form method = "post" action = "/results">
                <form action="/action_page.php">
                    
                    Who are Danny's best friends?<br>
                        <input type="radio" name="choice1" value="His parents" > His parents<br>
                        <input type="radio" name="choice1" value="Sam and Tucker"> Sam and Tucker<br>
                        <input type="radio" name="choice1" value="Dash and Paulina"> Dash and Paulina<br>
                        <input type="radio" name="choice1" value="Dani and Valerie"> Dani and Valerie<br>
                        <br>
                        <br>
                        
                    Finish this sentence: Yo, Danny Fenton, he was just...<br>
                        <input type="radio" name="choice2" value="... walking down the street." > ... walking down the street.<br>
                        <input type="radio" name="choice2" value="... minding his own business"> ... minding his own business<br>
                        <input type="radio" name="choice2" value="... 14"> ... 14<br>
                        <input type="radio" name="choice2" value="... 16"> ... 16<br>
                        <br>
                        <br>
                        
                    Who is Danny's arch nemesis?<br>
                        <input type="radio" name="choice3" value="Dark Danny" > Dark Danny <br>
                        <input type="radio" name="choice3" value="Valerie Gray"> Valerie Gray<br>
                        <input type="radio" name="choice3" value="Dani Phantom"> Dani Phantom<br>
                        <input type="radio" name="choice3" value="Vlad Plasmius"> Vlad Plasmius <br>
                        <br>
                        <br>
                        
                    Who is Danny Phantom's sister?<br> 
                        <input type="radio" name="choice4" value="Tracy" >Tracy<br>
                        <input type="radio" name="choice4" value="Jazz">Jazz<br>
                        <input type="radio" name="choice4" value="Dani">Dani<br>
                        <input type="radio" name="choice4" value="Sam">Sam<br>
                        <br>
                        <br>
                        
                    How did Danny become a ghost?<br>
                        <input type="radio" name="choice5" value="He died" > He died.<br>
                        <input type="radio" name="choice5" value="He was bitten"> He was bitten.<br>
                        <input type="radio" name="choice5" value="He activated his parents' ghost portal."> He activated his parent' ghost portal. <br>
                        <input type="radio" name="choice5" value="He was injected with ghost blood."> He was injected with ghost blood. <br>
                        <br>
                        <br>
                        
                    Who was Danny's first ghost fight?<br>
                        <input type="radio" name="choice6" value="He died" > Jonny 13<br>
                        <input type="radio" name="choice6" value="He was bitten"> Ecto-puses<br>
                        <input type="radio" name="choice6" value="He activated his parents' ghost portal."> His mom <br>
                        <input type="radio" name="choice6" value="He was injected with ghost blood."> Ember <br>
                        <br>
                        <br>
                    
                    Who created Danielle Phantom? <br>
                        <input type="radio" name="choice7" value="Vlad" > Vlad<br>
                        <input type="radio" name="choice7" value="His parents"> His Parents.<br>
                        <input type="radio" name="choice7" value="Tucker."> Tucker <br>
                        <input type="radio" name="choice7" value="Sam"> Sam <br>
                        <br>
                        <br>
                        
                    In which episode does Jazz first find out that Danny is half-ghost?<br>
                        <input type="radio" name="choice8" value="Rollercoaster" >Rollercoaster.<br>
                        <input type="radio" name="choice8" value="My Brother's Keeper"> My Brother's Keeper<br>
                        <input type="radio" name="choice8" value=" Reality Trip">  Reality Trip<br>
                        <input type="radio" name="choice8" value="Claws of the Wild"> Claws of the Wild <br>
                        <br>
                        <br>
                        
                    What does Danny say before changing into ghost form?<br>
                        <input type="radio" name="choice9" value="Mostly Ghostly!" > Mostly Ghostly!<br>
                        <input type="radio" name="choice9" value="Goin' Ghost!"> Goin' Ghost!<br>
                        <input type="radio" name="choice9" value="Time to go ghost!"> Time to go ghost! <br>
                        <input type="radio" name="choice9" value="I'm dead inside!"> I'm dead inside! <br>
                        <br>
                        <br>
                    Who often shouts his plans?<br>
                        <input type="radio" name="choice10" value="Jonny 13" > Jonny 13<br>
                        <input type="radio" name="choice10" value="Vlad"> Vlad<br>
                        <input type="radio" name="choice10" value="Danny">Danny <br>
                        <input type="radio" name="choice10" value="Technus"> Technus <br>
                        <br>
                        <br>

                    <input type="submit">
                </form>
                </main>
            </body>
</html>